@import "styles/variables";

.container {
  width: min(80vh, 80vw);
  background-color: $color-white;
  border: 1px solid $color-dark-gray;
  border-radius: $border-radius;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  background-color: $color-blue;
  border-radius: $border-radius;
  padding: 1.5rem;
  color: $color-white;

  h1 {
    margin-top: 0;
  }
}

.footer {
}
